<!DOCTYPE html>
<html>
    <head>
        <title>Toolforge SQL Optimizer</title>
        <link rel="stylesheet" type="text/css" media="screen" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/codemirror/5.34.0/codemirror.min.css">
        <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/codemirror/5.34.0/theme/monokai.min.css">
        <link rel="stylesheet" type="text/css" href="/application.css">
        <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/codemirror/5.34.0/codemirror.js"></script>
        <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/codemirror/5.34.0/mode/sql/sql.min.js"></script>
        <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/codemirror/5.34.0/addon/edit/matchbrackets.min.js"></script>
        <script type="text/javascript" src="/application.js"></script>
        <script type="text/javascript" src="/sql-formatter.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header class="app-header navbar navbar-default text-center" role="navigation">
            <h4>Toolforge SQL Optimizer</h4>
        </header>
    </body>
    <main class="container-fluid">
        <p class="text-center app-description">
            This tool allows you to run EXPLAIN on Toolforge queries, and will suggest improvements if common issues are detected.
            <br/>
            Resources:
            <a target="_blank" href="https://wikitech.wikimedia.org/wiki/Help:Toolforge/Database">Database access</a>
            &bull;
            <a target="_blank" href="https://wikitech.wikimedia.org/wiki/Help:MySQL_queries">Help:MySQL queries</a>
            &bull;
            <a target="_blank" href="https://quarry.wmflabs.org">Run query online</a>
        </p>
        <section class="sql-form">
            <form action="/">
                <div>
                    <label for="sql-input" class="sql-input-label">EXPLAIN</label>
                    <div class="pull-right use-input-group">
                        <label for="use-input">USE</label>
                        <input type="text" class="form-control" name="use" id="use-input" value="{{ use ?: 'enwiki_p' }}">
                    </div>
                </div>
                <div class="sql-input-group">
                    <textarea class="form-control" rows="5" id="sql-input" name="sql">{#-
                        -#}{% if sql is defined %}{{ sql|trim }}{% else %}
SELECT page_namespace, page_is_new, COUNT(*)
FROM revision
JOIN actor ON actor_id = rev_actor
JOIN page ON rev_page = page_id AND page_namespace IN (0,1) AND page_is_redirect = 1
WHERE rev_len > '2000' AND actor_name LIKE 'Ada%'
GROUP BY page_namespace, page_is_new{#-
                        -#}{% endif %}{#-
                    -#}</textarea>
                    <div class="schema-browser-container pull-right">
                        <button type="button" class="btn btn-default schema-browser-btn schema-browser-btn-initial" data-toggle="modal" data-target="#schema-browser">Schema browser</button>
                        <div class="modal fade" id="schema-browser" tabindex="-1" role="dialog" aria-labelledby="schema-browser-label">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="schema-browser-label">Schema browser</h4>
                                    </div>
                                    <div class="schema-browser-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="query-actions">
                        <button type="submit" class="btn btn-primary btn-sql-submit">Submit</button>
                        <button type="button" class="btn btn-default btn-format">Format</button>
                        <button type="button" class="btn btn-default btn-clear">Clear</button>
                    </div>
                </div>
            </form>
        </section>
        {% if results is not empty %}
            <section class="panel panel-default explain-output">
                <div class="panel-heading">
                    <strong>Results</strong>
                </div>
                <div class="panel-body">
                    {% if results.error is defined %}
                        <div class="alert alert-danger">{{ results.error|escape('html') }}</div>
                    {% else %}
                        <table class="table">
                            <thead>
                                <tr>
                                    {% for column in results|first|keys %}
                                        <th>{{ column }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in results %}
                                    {% if '' ~ loop.index0 in (tips.general|keys|merge(tips.specific|keys)) %}
                                        <tr class="bg-warning">
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                    {% for column in row %}
                                        <td>
                                            {% if loop.first %}
                                                {# The ID column. Here we append a query plan ID #}
                                                {{ column ~ '.' ~ loop.parent.loop.index }}
                                            {% elseif loop.index == 5 %}
                                                {# Make the 'possible_keys' for readable #}
                                                {{ column|replace({',': ', '}) }}
                                            {% else %}
                                                {{ column }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                    {% set lastQueryId = row.id %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </section>
        {% endif %}
        {% if tips is not empty %}
            <section class="panel panel-default tips">
                <div class="panel-heading">
                    <strong>Tips</strong>
                </div>
                <div class="panel-body">
                    {% if tips.specific is not empty %}
                        Specific:
                        <ul class="tips-specific">
                            {% for id, comments in tips.specific %}
                                {% for comment in comments %}
                                    <li>{{ comment|raw }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if tips.general is not empty %}
                        {% if tips.specific is not empty %}
                            General:
                        {% endif %}
                        <ul class="tips-general">
                            {% for id, comments in tips.general %}
                                {% for comment in comments %}
                                    <li>{{ comment|raw }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </section>
        {% endif %}
    </main>
    <footer class="text-center">
        <div>
            Brought to you by <a href="https://en.wikipedia.org/wiki/User:MusikAnimal">MusikAnimal</a> and <a href="https://meta.wikimedia.org/wiki/User:U+1F360">U+1F360</a>
            &bull;
            <a href="https://github.com/MusikAnimal/sql-optimizer">View source</a>
        </div>
    </footer>
</html>
